*{
    border:2px dashed hotpink;
}

body{
    border:2px dashed blue;
}

html{
    border:2px dashed red;
}

div{
    height: 80px;
    border:2px dashed red;
}

img{
    height: 80px;
    width: 80px;
    /*img is originally inline across entire width. The block makes it a square to stack*/
    display: block;
    /*top and bottom has no margin and width is centered with auto*/
    margin: 0 auto;
    border:10px groove orange;
    padding: 10px;
}