div {
    width:400px;
    height:200px;
    border: 40px dashed red;
    margin: 20px auto;
}
.div2{
    box-sizing: border-box;
    /*background image doesnt need /html except for in webstorm*/
    background-image: url("/html-css-bootcamp/000img/puppy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}