div {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    border-radius: 100%;
    background-image: url("../000img/puppy.jpg");
    background-size: cover;
    display: inline-block;
    /*background-repeat: no-repeat;*/
}
/*box sizing border box adjusts the box to stay within given width-height*/
img {
    width: 200px;
    box-sizing: border-box;
    height: 200px;
    padding: 10px;
    margin: 30px;
}

.onedog {
    border: 10px groove darkorange;


}.twodogs {
    border: 10px groove aqua;


}.threedogs {
    border: 10px groove darkorange;

}